
body{
    background-image: url("Mines1.jpg");
    background-color: #cccccc;
    background-size: cover;
    /* mask-repeat: no-repeat; */
}


h1{
    color: white;
    text-align: center;
}

table{
    margin: auto;
    width: 900px;
    height: 600px;
}



.board{
    width: 500px;
    height: 500px;
}

td{
    background-color: white;
    width: 80px;
    height: 40px;
    text-align: center;
}

.gameover{
    display: none;
    border: solid 4px white;
    margin: auto;
    width: 600px;
    height: 200px;
    font-size: xx-large;
    background-color: black;
    color: red;
    text-align: center;
    vertical-align: middle;
    line-height: 170px;
}

.victory{
    display: none;
    margin: auto;
    height: 200px;
    width: 600px;
    background-color: royalblue;
    font-size: xx-large;
    text-align: center;
}

.emptymarked{
    background-color: red;
}
.minemarked{
    background-color: red
}
.emptyshown{
    background-color: rgb(70, 65, 65);
}

button{
    background-color: green;
    color: white;
    display: block;
    margin: auto;
    width: 210px;
    height: 100px;
}

.hard{
    background-color: red;
}
.expert{
    background-color: rgb(75, 12, 12);
}





